.fondo {
    background-color: black;
}

.titulo {
    color: red;
    font-weight: bold;
}

.enlace-footer {
    color: white;
}

.separador {
    color: white;
}

.circulo {
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    background-color: grey;
}

.padding-general {
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

#lista1 {
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	background-color:black;
}

#lista1 li {
	display:inline;
	margin-left:3px;
	margin-right:3px;
}

a {
	color:white;
	text-decoration:none;
}

a:hover {
	color:black;
	background-color:lightgray;
}


.margin-general {
    margin: 0;
}