.fondo {
    background-color: black;
}

.titulo {
    color: red;
    font-weight: bold;
}

.enlace-footer {
    color: white;
}

.separador {
    color: white;
}

.circulo {
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    background-color: grey;
}

.padding-general {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}


.padding-texto-columna {
    padding-left: 5%;
}
